NEXT_PUBLIC_SITE_URL=https://breakout-tau-black.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x4bABd6c59335610705D29586f922f5c089BB1437
NEXT_PUBLIC_BASE_APP_ID=6a06c69b036192ebadae2851
NEXT_PUBLIC_BUILDER_CODE=bc_
# optional raw hex suffix override
NEXT_PUBLIC_BUILDER_CODE_SUFFIX=
# optional WalletConnect
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
